<div id="<%= dom_id interview %>">
  <p>
    <strong>Title:</strong>
    <%= interview.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= interview.notes %>
  </p>

  <p>
    <strong>Interview date:</strong>
    <%= interview.interview_date %>
  </p>

  <p>
    <strong>Interview type:</strong>
    <%= interview.interview_type %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= interview.job_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= interview.contact_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= interview.user_id %>
  </p>

</div>
