<div id="<%= dom_id job %>">
	<div class="card shadow" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title"><%= job.company %></h5>
			<h6 class="card-subtitle mb-2 text-muted">
				<span class="<%= job_status_badge_class(job.job_application_status) %>">
					<%= job.formatted_job_application_status %>
				</span></h6>
			<p class="card-text">
				<p><%= job.job_description %></p>
				<p><%= job.formatted_job_position_type %></p>
				<p><%= job.job_pay_type %></p>
			</p>
			<%= link_to edit_job_path(@job) do %>
				<i class="bi bi-pencil-square rounded p-1" style="font-size: 2em; color: #fff200;background-color: rgb(55, 55, 55);"></i>
			<% end %>
			<%= link_to jobs_path do %>
				<i class="bi bi-arrow-left-square rounded p-1" style="font-size: 2em; color: #007bff;background-color: rgb(55, 55, 55);"></i>
			<% end %>
			<%= link_to 'Delete', job, method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_confirm_title: 'Delete Job', turbo_confirm_text: 'This will permanently delete the job. Are you sure?' }, data: { turbo_method: :delete } %>
		</div>
	</div>
