<h1 class="text-center">Dashboard</h1>
<div class="row">
	<div class="border border-2 border-dark-subtle rounded col">
      <h2 class="text-center">Jobs</h2>
      <div class="text-end"><%= link_to "Add New Job", new_job_path, class: "badge rounded text-bg-success fs-4 text m-2" %></div>

</ul>
		<div class="jobs table-responsive">
			<table class="table align-middle table-hover table-bordered">
				<thead class="table-dark">
					<tr>
						<th scope="col">Application Status</th>
						<th scope="col">Company Name</th>
						<th scope="col">Job Title</th>
						<th scope="col">Last Updated</th>
						<th scope="col">Take Action</th>
						<%# <th scope="col"></th> %>
					</tr>
				</thead>
				<tbody>
					<% @jobs.each do |job| %>
						<tr id="<%= dom_id job %>">
							<td>
								<span class="<%= job_status_badge_class(job.job_application_status) %>">
									<%= job.formatted_job_application_status %>
								</span>
							</td>
							<td><%= job.company %></td>
							<td><%= job.job_title %></td>
							<%# <td><%= job.interviews.count </td> %>
							<td><%= job.updated_at.in_time_zone(current_user&.time_zone || "Eastern Time (US & Canada)").strftime("%a, %b %e, %Y %I:%M %p %Z") %>
							</td>
							<td>
								<div class="dropdown">
									<a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										Options
									</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<li class="dropdown-item"><%= link_to "Show", job %>
										</li>
										<li class="dropdown-item"><%= link_to "Edit", edit_job_path(job) %>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<%= will_paginate @jobs %>
	</div>
	<div class="border border-2 border-dark-subtle rounded col">
		<h2 class="text-center">Recent Contacts</h2>
          <div class="text-end"><%= link_to "New contact", new_contact_path, class: "badge rounded text-bg-success fs-4 text m-2" %></div>

	</div>
</div>
<div class="row justify-content-evenly">
	<div class="border border-2 border-dark-subtle rounded col">
		<h2 class="text-center">Upcoming Job Interviews</h2>
	</div>
</div>
