<p style="color: green"><%= notice %></p>
<div class="row"><%= render @job %></div>
<div class="">
	<%= link_to "Edit this job", edit_job_path(@job), class: "btn btn-warning" %>
	<%= link_to "Back to jobs", jobs_path, class: "btn btn-info" %>
	<p><%= button_to "Destroy this job", @job, method: :delete, class: "btn btn-danger" %></p>
</div>
