<%= form_with(model: contact) do |f| %>
	<% if contact.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
			<ul>
				<% contact.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%= f.label :contact_name, style: "display: block" %>
		<%= f.text_field :contact_name %>
	</div>
	<div>
		<%= f.label :contact_phone_number, style: "display: block" %>
		<%= f.text_field :contact_phone_number %>
	</div>
	<div>
		<p>
			<%= f.label :contact_type, style: "display: block" %>
			<%= f.select :contact_type, options_for_select(Contact.contact_types.keys.map { |type| [type.to_s.titleize, type] }, selected: @contact.contact_type), {prompt: "Choose the contact type" }, class: "form-select" %>
		</p>
	</div>
	<div class="form-group">
		<%= f.label :job_id, "Job" %>
		<%= f.collection_select :job_ids, @jobs, :id, :company, {prompt: "Select a job"}, {class: "form-select", multiple: true} %>
	</div>
	<div class="form-group">
		<%= f.label :interview_id, "Interview" %>
		<%= f.collection_select :interview_ids, @interviews, :id, :title, { prompt: "Select interviews" }, { class: "form-select", multiple: true } %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
